<% include ../tmpl/header %>

<div class="wrap">
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
			href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="layout">

		<div class="header">
			<div class="inner">

				<div class="col-12 nav">
					<div class="nav-brand">
						<a href="/">Thonatos.Yang</a>
					</div>
					<ul class="nav-ul right">
						<li><a href="/">Home</a></li>
						<li class="active"><a href="/doc">Notes</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="document">
				<% if (pageContent.render){ %>

				<!--<h2 class="title">Documents - <%= pageContent.title %> </h2>-->
				<h4>List For Documents & Directory</h4>
				<hr/>

				<div class="content">
					<% if(pageContent.content.constructor == Array){ %>
					<ul>
						<% pageContent.content.forEach(function(obj){ %>
							<% if(obj.name !== '.gitignore'){ %>
								<li>
									<a href="/docs/<%= encodeURI(obj.path.toString()) %>"><%= obj.name.toString() %></a>
								</li>
							<% } %>
						<% }); %>
					</ul>
					<% }else{ %>
					<%= pageContent.content.message + ' . From ' + pageContent.content.documentation_url %>
					<% } %>
				</div>

				<% }else{ %>

				<h3 class="title">Can't get ?</h3>

				<div class="content">
					<pre>Something wrong, you may try again.</pre>
					<%- pageContent.content %>
				</div>

				<% } %>

				<hr/>
			</div>
		</div>
		<div class="footer">
			<div class="inner">
				<div class="col-12 center text-right">
					All Documents are hosted on <i class="fa fa-github"> Github</i> .
				</div>
			</div>
		</div>
	</div>

</div>

<% include ../tmpl/footer %>

