<% include ../tmpl/header %>

<div class="wrap">
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
				href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="layout">

				<div class="header">

				</div>
				<div class="main">
						<div class="document">
								<% if (pageContent.render){ %>

								<h2 class="title">Documents - <%= pageContent.title %> </h2>
								<h4>List For Documents & Directory</h4>
								<hr/>

								<div class="content">
										<ul>
												<% pageContent.content.forEach(function(obj){ %>
												<li>
														<a href="/doc/<%= obj.path.toString() %>"><%= obj.name.toString() %></a>
												</li>
												<% }) %>
										</ul>
								</div>

								<% }else{ %>

								<h3 class="title"><%= pageContent.title %></h3>

								<div class="content">
										<%- pageContent.content %>
								</div>

								<% } %>
						</div>
				</div>
				<div class="footer">
						<div class="col-12 center text-right">
								All Documents are hosted on <i class="fa fa-github"> Github</i> .
						</div>
				</div>
		</div>

</div>

<% include ../tmpl/footer %>

